# you probably don't want to change these!
# only change them if you're using a server with multiple network interfaces
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

start mapmanager
start chat
start spawnmanager
start sessionmanager
start fivem
start hardcap
start rconlog
start scoreboard
#start fivem-map-zonedout
start custom_loading_screen
start mysql-async
start essentialmode
start esplugin_mysql
start es_admin2
start es_extended
start esx_menu_default
start esx_menu_list
start esx_menu_dialog
start esx_addonaccount
start esx_billing
start cron
start esx_society
start esx_datastore
start esx_identity
start esx_policejob
start esx_drugs
start mellotrainer
start welcomenotify
start lights-sirens
start vehcontrol
start emotes
start fishing
#start smuggler_vehicles
start smartweather
start fivem-lscustoms

# Client ScriptHookV & Mods allowed or not
sv_scriptHookAllowed 0

# Server Admin Password
rcon_password 69cUntfAce

# Server Name
sv_hostname "Zoned Out RP | 💊 Drugs! | 👮 Cops | 🚑 EMS | Alpha | RP Server | No Tight-ass Admins"

# nested configs!
#exec server_internal.cfg

# Server icon (96x96 PNG file)
load_server_icon zorpIcon.png

# convars for use from scripts
set temp_convar "Welcome to Zoned Out RP!"
set es_enableCustomData 1
set mysql_connection_string "server=localhost;database=essentialmode;userid=admin;password=69cUntfAce"

# disable announcing? clear out the master by uncommenting this
#sv_master1 ""

# want to only allow players authenticated with a third-party provider like Steam?
sv_authMaxVariance 1
sv_authMinTrust 5

# add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:11000010982dbb0 group.admin # add the admin to the group

# hide player endpoints in external log output
#sv_endpointprivacy true

# server slots limit (default to 30)
sv_maxclients 32